<div class="row-fluid">
  <div id="canvas-header">
    <h4 id="countdown"></h4>
    <h4 id="frame-progress"><%= frame_progress %></h4>
  </div>
</div>

<div class="row-fluid pull-left">
  <input type="checkbox" name="toggle-onion" id="toggle-onion" checked="checked">
  <label for="toggle-onion">Show Previous Frame Ghost</label>
</div>

<div class="clearfix"></div>

<div id="drawing-container" class="row-fluid">
  <div id="drawing-tools" class="col-md-1">
    <div class="row">
      <%= image_tag "paintbrush.png", id: "brush", class: "tool", size: "40x40" %>
      <%= image_tag "pencil.png", id: "pencil", class: "tool", size: "40x40"  %>
    </div>
    <div class="row">
      <%= image_tag "line.png", id: "line", class: "tool", size: "40x40" %>
      <%= image_tag "rect.png", id: "rect", class: "tool", size: "40x40"  %>
    </div>
    <div class="row">
      <%= image_tag "circle.png", id: "circle", class: "tool", size: "40x40" %>
      <%= image_tag "eraser.png", id: "eraser", class: "tool", size: "40x40" %>
    </div>
    <div class="row">
      <%= image_tag "text.png", id: "text", class: "tool", size: "40x40" %>
    </div>

    <br/>

    <div class="row">
      <input type="hidden" id="color-picker">
    </div>

    <br/>

    <button id="undo" type="button" class="btn btn-default"> UNDO </button>

    <div class="row">
      <div id="brush-size-slider"></div>
      <span id="brush-size-display">Brush Size: <b><span id="brush-size">15<span></b></span>
      <div id="brush-size-btns">
        <button id="dec-brush-size" class="btn btn-default">-</button>
        <button id="inc-brush-size" class="btn btn-default">+</button>
      </div>
    </div>

    <div id="text-dialog" title="Insert Text">
      <form>
        <fieldset>
          <label for="fontSize">Font Size</label>
          <input type="text" name="fontSize" id="fontSize" value="20" class="text ui-widget-content ui-corner-all">
          <br/>
          <label for="text">Text</label>
          <input type="text" name="text" id="text" class="text ui-widget-content ui-corner-all">

          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
  </div>

  <div id="canvas-container" class="col-md-11">
    <svg id="canvas" width="960" height="540">
      <%= Canvas.new(@room.id).get.html_safe %>
    </svg>
  </div>
</div>
