<div class="row-fluid">
  <div id="canvas-header">
    <a href="#" class="btn btn-default"> Make a Private Room </a>
    <button type="button" class="btn btn-default" id="galleryButton">View Gallery</button>

    <h4 id="countdown"></h4>
    <h4><%= frame_progress %></h4>
  </div>
</div>

<div id="drawing-container" class="row-fluid">
  <div id="drawing-tools" class="col-md-1">
    <div class="row">
      <%= image_tag "paintbrush.png", id: "brush", class: "tool", size: "40x40" %>
      <%= image_tag "pencil.png", id: "pencil", class: "tool", size: "40x40"  %>
    </div>
    <div class="row">
      <%= image_tag "eraser.png", id: "eraser", class: "tool", size: "40x40" %>
      <%= image_tag "text.png", id: "text", class: "tool", size: "40x40" %>
    </div>

    <br/>

    <div class="row">
      <div id="seashell" class="color-picker col-md-6" style="background-color:seashell; height:40px;"></div>
      <div id="black" class="color-picker col-md-6" style="background-color:black; height:40px;"></div>
    </div>
    <div class="row">
      <div id="lightGrayColor" class="color-picker col-md-6" style="background-color:lightgray; height:40px;"></div>
      <div id="gray" class="color-picker col-md-6" style="background-color:gray; height:40px;"></div>
    </div>
    <div class="row">
      <div id="sandyBrown" class="color-picker col-md-6" style="background-color:sandyBrown; height:40px;"></div>
      <div id="brown" class="color-picker col-md-6" style="background-color:brown; height:40px;"></div>
    </div>
    <div class="row">
      <div id="pink" class="color-picker col-md-6" style="background-color:pink; height:40px;"></div>
      <div id="red" class="color-picker col-md-6" style="background-color:red; height:40px;"></div>
    </div>
    <div class="row">
      <div id="orange" class="color-picker col-md-6" style="background-color:orange; height:40px;"></div>
      <div id="darkorange" class="color-picker col-md-6" style="background-color:darkorange; height:40px;"></div>
    </div>
    <div class="row">
      <div id="lightYellow" class="color-picker col-md-6" style="background-color:lightyellow; height:40px;"></div>
      <div id="yellow" class="color-picker col-md-6" style="background-color:yellow; height:40px;"></div>
    </div>
    <div class="row">
      <div id="lightGreen" class="color-picker col-md-6" style="background-color:lightgreen; height:40px;"></div>
      <div id="green" class="color-picker col-md-6" style="background-color:green; height:40px;"></div>
    </div>
    <div class="row">
      <div id="lightBlue" class="color-picker col-md-6" style="background-color:lightblue; height:40px;"></div>
      <div id="blue" class="color-picker col-md-6" style="background-color:blue; height:40px;"></div>
    </div>
    <div class="row">
      <div id="mediumPurple" class="color-picker col-md-6" style="background-color:mediumpurple; height:40px;"></div>
      <div id="purple" class="color-picker col-md-6" style="background-color: purple; height:40px;"></div>
    </div>

    <br/>

    <div class="row">
      <div id="brush-size-slider"></div>
      <span id="brush-size-display">Brush Size: <b><span id="brush-size">5</span></b></span>
    </div>

    <div id="text-dialog" title="Insert Text">
      <form>
        <fieldset>
          <label for="fontSize">Font Size</label>
          <input type="text" name="fontSize" id="fontSize" value="20" class="text ui-widget-content ui-corner-all">
          <br/>
          <label for="text">Text</label>
          <input type="text" name="text" id="text" class="text ui-widget-content ui-corner-all">

          <!-- Allow form submission with keyboard without duplicating the dialog button -->
          <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
        </fieldset>
      </form>
    </div>
  </div>

  <div id="canvas-container" class="col-md-11">
    <svg id="canvas" width="960" height="540">
      <%= Canvas.new(@room.id).get.html_safe %>
    </svg>
  </div>
</div>
