<%= form_for @room do |f| %>
  <%= form_password %>

  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :private %>
    <%= f.check_box :private, checked: params[:p] != nil %>
    <span>(<%= t '.private_notice' %>)</span>
  </p>

  <%= f.submit %>
<% end %>
