<%= form_for @room do |f| %>
  <%= form_password %>

  <div class="row">
    <div class="col-md-3">
      <%= f.text_field :name, {placeholder: 'Room Name', class: 'form-control'} %>
    </div>
  </div>

  <div class="checkbox">
    <label>
      <%= f.check_box :private, checked: params[:p] != nil %>
      Private (<%= t '.private_notice' %>)
    </label>
  </div>

  <%= f.submit 'Create', :class=>"btn btn-default" %>
<% end %>