<%= button_tag "Share room", type: "button", id: "share_button" %>

<div id="share_dialog" data-title="<%= t '.dialog_title' %>">
  <div><%= t '.notice' %></div>
  <textarea readonly><%= request.original_url %></textarea>
  <div>
<%= form_tag({controller: "email", action: "new"}, method: "post") do %>
    <%= label_tag(:q, "Enter e-mail") %>
    <%= text_field_tag(:q) %>
    <%= hidden_field_tag "current_room_url", request.original_url %>
    <%= submit_tag("Send e-mail") %>
<% end %>
    <button id="copy_button"><%= t '.copy_button' %></button>
  </div>
  <span><%= t '.copy_message' %></span>
</div>
