<div class="page-header">
  <h1><%= t '.title' %></h1>
</div>

<div class="row-fluid">
  <%= link_to 'Home', root_path, :class => "btn btn-default"  %>
  <%= link_to t(:new_room_button), new_room_path, :method => :get, :class => "btn btn-default" %>
</div>

<table class="table">
  <tr>
    <th>Room Name</th>
    <th>Room Status</th>
  </tr>
  <% @rooms.each do |room| %>
    <tr>
      <td><%= link_to room.name, room_path(room) %></td>
      <td><%= room.password.nil? ? "public" : "private" %></td>
    </tr>
  <% end %>
</table>
