<h1><%=t '.title' %></h1>

<%= form_for :room, url: rooms_path do |f| %>
  <p>
    <%= f.label :name %>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :private %>
    <%= f.check_box :private, checked: true %>
    <span>(<%= t '.private_notice' %>)</span>
  </p>

  <%= f.submit t '.submit' %>
<% end %>
