<div class="page-header">
  <h1><%= @room.name %></h1>
</div>

<div class="row-fluid">
  <%= link_to 'Home', root_path, :class => "btn btn-default"  %>
  <%= link_to 'Gallery', url_with_password([@room, :gallery]), :class => "btn btn-default"  %>
  <% if @room.id != 1 %>
    <%= link_to t(".edit_link"), url_with_password(@room, :action => :edit), :class => "btn btn-default" %>
    <%= render "share" %>
  <% end %>
</div>

<div class="center row-fluid">
  <% if @room.animation and not @room.animation.complete? %>
    <%= render "canvas" %>
  <% else %>
    <h3>There currently are no active animations</h3>
    <%= link_to "Create new animation",
      url_with_password([@room, :animation], :action => :new),
      class: "btn btn-default" %>
  <% end %>
</div>

<%= render "chat" %>
