<h1>Create a New Animation</h1>

<%= form_for @animation, url: room_animation_path do |f| %>
  <%= form_password %>
   
  <p>
    <%= f.label :number_of_frames %>
    <%= f.number_field :number_of_frames,
      value: AnimationsController::DEFAULT_NUMBER_OF_FRAMES %>
  </p>

  <p>
    <%= f.label :timer_per_frame %>
    <%= f.number_field :timer_per_frame,
      value: AnimationsController::DEFAULT_TIMER_PER_FRAME %>
    <%= select_tag :timer_units,
      options_for_select(AnimationsController::TIMER_UNITS) %>
  </p>

  <p>
    <%= f.label :video_framerate %>
    <%= f.number_field :video_framerate,
      value: AnimationsController::DEFAULT_VIDEO_FRAME_RATE %>
  </p>

  <%= f.submit %>
<% end %>

<p>
  <span>Total time to create animation:</span>
  <span id="total_time"></span>
  <span id="total_time_units"></span>
</p>

<p>
  <span>Total rendered video length:</span>
  <span id="video_length"></span>
  <span id="video_length_units"></span>
</p>
