<!DOCTYPE html>
<html>
<head>
  <title>Frame-By-Frame</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <%= yield :head %>
</head>
<body>
  <%= include_gon(init: true, camel_case: true) %>
  <div class="container">
    <%= yield %>
  </div>
</body>
</html>
