<div class="page-header">
  <h1>Frame-By-Frame <small><%= t :landing_title %></small></h1>
</div>

<p>
    This page will serve as the launching point of the application. <br/> The user should be able to select
    whether they want to join the public sketch room, create a private sketch room, or view the
    public animation gallery.
</p>

<div class="btn-group" role="group" aria-label="...">
  <%= link_to t(:public_room_button), room_path(:public), :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to t(:new_room_button), new_room_path, :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to t(:list_rooms_button), rooms_path, :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to "List of Galleries", galleries_index_path, :method => :get, :class => "btn btn-lg btn-default" %>
</div>
