<div class="page-header">
  <h1>Frame-By-Frame <small><%= t :landing_title %></small></h1>
</div>

<div class="btn-group" role="group" aria-label="..." padding-bottom="18px">
  <%= link_to t(:public_room_button), room_path(:public), :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to t(:new_room_button), new_room_path, :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to t(:list_rooms_button), rooms_path, :method => :get, :class => "btn btn-lg btn-default" %>
  <%= link_to "List of Galleries", galleries_index_path, :method => :get, :class => "btn btn-lg btn-default" %>
</div>

<p style="margin-top: 20px;">
  Frame by Frame is a web application where many anonymous users can collaborate to create frame animations.
  All users draw on a single canvas which is routinely saved as a frame to be used in generating an animation.
  After a frame is saved it is ‘onioned’ onto a new canvas as transparent layer helping users draw cohesive
  animations. Users will also have access to a chat system shared between the community. In addition to the
  public area users can create private drawing and share them with their friends via shared URLs in emails.
</p>
