<div class="page-header">
  <h1><%= @room.name %></h1>
</div>

<div class="row-fluid">
  <%= link_to 'Home', root_path, :class => "btn btn-default"  %>
  <%= link_to 'Room', url_with_password(@room), :class => 'btn btn-default' %>
</div>

<% if @gallery.videos.first %>
<table class="table">
  <tr>
    <th>Video Name</th>
    <th>Upload Date</th>
  </tr>

  <% @gallery.videos.each do |video| %>
    <tr>
	    <td><%= link_to video.name, url_with_password([@room, :gallery, video]) %></td>
	    <td><%= video.created_at %></td>
	  </tr>
  <% end %>
</table>
<% else %>
  <strong>No videos have been created yet!</strong>
<% end %>
